///////////
// Fonts //
///////////

// Please keep the !default as the last option, it ensures sensible output!
// Custom fonts can be provided by Google Fonts, please edit _includes/head.html
// to set this up (Google Fonts will give you a bunch of HTML code to load the
// fonts and you can just copy-paste this in directly)

// Non-header text on index.md
$base-font-family: "PT Sans" !default;
// Plain text in posts
$reading-font-family: "PT Sans", !default;
// Post headings, as well as post preview in front page
$headline-font-family: "PT Sans", !default;
// Monospace font for all code
$code-font-family:  "Fira Mono" !default;
// Website header in index.md (theme-dependent)
$handwriting-font-family: "Lato", !default;

$base-font-size:    18px !default;
$code-font-size:    16px !default;
$base-line-height:  1.5 !default;


////////////
// Layout //
////////////

$spacing-unit:      2rem !default;
$content-width:     1100px !default;

$on-small:          600px !default;
$on-medium:         900px !default;
$on-large:          1100px !default;
