///////////
// Fonts //
///////////

// Please keep the !default as the last option, it ensures sensible output!
// Custom fonts can be provided by Google Fonts, please edit _includes/head.html
// to set this up (Google Fonts will give you a bunch of HTML code to load the
// fonts and you can just copy-paste this in directly)

// Monospace font used for all code
$code-font-family:  "Fira Mono" !default;

////// Posts ///////
// Titles
$post-title-font-family: "PT Sans", !default;
// h1, h2, ... h6 headings
$post-heading-font-family: "PT Sans", !default;
// Ordinary content
$post-content-font-family: "PT Sans", !default;

////// Front page and header ///////
// Website title (at top-left corner)
$site-title-font-family: "Lato", !default;
// Everything else on the front page
$base-font-family: "PT Sans" !default;

// Font sizes
$base-font-size:    18px !default;
$code-font-size:    16px !default;
$base-line-height:  1.4 !default;


////////////
// Layout //
////////////

$spacing-unit:      1.5rem !default;
$content-width:     1100px !default;

// Max screen size that is considered 'small'. This affects layouts, for
// example, the sidebar disappears when the screen size is below this.
$on-small:          600px !default;
// Same for medium and large.
$on-medium:         900px !default;
$on-large:          1100px !default;
